.module{
    position: relative;
    right: 105px;
    bottom: 15px;
    width: 0px;
    height: 20px;
    margin-top: 0px;
    z-index: 20;
}


.module .trigger{
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

    
    .module .trigger ul.locations{
        position: absolute  ;
        list-style: none;
        margin: 10px;
        padding: 0;
        right: -60px;
        bottom: 12%;
        background: rgba(229, 185, 255, 0.705);
        border-radius: 0 0 22px 22px;
        font-size: 14px;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        transition: 350ms transform 350ms;
    }
    
    
    
    .module .trigger ul.locations li{
        font-weight: 500;
        width: 110px;
        height: 44px;
        padding: 0 20px;
        z-index: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200mx border-left 0ms;
    }
    .module .trigger ul.locations li:before{
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .module .trigger ul.locations li:last-of-type{
    border-radius: 0 0 0.01rem 0.01rem;
    }
    
    .module .trigger ul.locations li a{
        text-decoration: none;
        color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .module .trigger ul.locations li:hover{
     background-color: #eec4ff;
     transition: 0.2s;
    }

    .module .trigger ul.locations li:nth-child(1){
        background-color: rgb(238, 183, 255);

       }
    
    .module .trigger:hover ul.locations{
    transform:  scaleY(1);
    transition: 150ms transform 350ms;
    }
    
    .module .trigger:hover ul.locations a{
    opacity: 1;
    transition: 150ms opacity 300ms;
    }

    *,*:before,*:after{
        box-sizing: inherit;
    }
    
    